.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(76, 93, 138, 0.1);
}

.centered {
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding: 16px;
}
  
.FormButton {
    margin: 16px 0 !important;
    background-color: #4a8ddc !important;
}

.FormInput {
    margin: 8px 0 !important;
}
